body{
    font-family: arial;
    background-color: black;
    background-image: url(boi.8a721906.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

@font-face{
    font-family: inter;
    src: url(Inter-4.1/extras/otf/Inter-Regular.otf);
}

@font-face{
    font-family: handjet;
    src: url(handjet-master/fonts/Handjet[ELGR\,ELSH\,wght].ttf);
}

/* Nav-Bar----------------------- */
.navbar{
    display: flex;
    justify-content: flex-end;

}

li a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s;
}

lu{
    position: fixed;
    right: 20px;
    margin-top: 160px;
}

li{
    text-align: right;
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a:hover{
    color: royalblue;
}


/* Hero Section ------------------------------ */

.herotext1{
    color: white;
    font-size: 150px;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inter;
    margin-top: 190px;
}

.heromini{
    color: white;
    font-family: inter;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;

}

/* About Section ------------------------------ */

.circle{
    border:1px solid white;
    color: white;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}